doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  body
    a.nav(href='/').
      add a column
    a.nav(href='/archive').
      archive
    
    div.row
      div.col.s6
        h4= "Steve's Column Collector"
    
    block content
      
    script(type='text/javascript' src='/javascripts/script.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
