body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  margin-left: 2%
}

.material-icons {
  padding-top: 2%
}

.input-field {
  margin-bottom: -40px
}

#submitBtn {
  margin: 3% 0 0 2%
}

.nav {
  margin-left: 3%
}

.instructions {
  border: solid 1px black;
  margin-top: -10%
}

.instr {
  font-weight: 600;
  margin-left: 5px;
}

.headline {
  font-weight: 800;
  font-size: 28px
}

.date {
  text-transform: uppercase;
  font-size: 16px;
}
